DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=mesto

USER_TOKEN=
USER_NAME=
USER_ABOUT=
USER_AVATAR=
USER_COHORT=

ORIGINAL_BASE_URL=
ORIGINAL_TOKEN=
